.footer-area {
  .footer-widget {
    &-desc {
      color: $white;
      font-family: $body-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 29px;
    }
    &-contact {
      color: $white;
      font-family: $body-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 250% */
      margin-top: 40px;
      .footer-contact {
        margin-top: 13px;
        li {
          span {
            color: $white;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
          }
        }
      }
    }
  }
  &-quick-menu-one {
    li {
      margin-bottom: 4.5px;
    }
  }
  &-services {
    h4 {
      @include xs {
        margin: 15px 0 10px 0;
      }
    }
  }

  &-mail-to {
    .input-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      svg {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translate(-100%, -50%);
      }
      label {
        color: $white;
        font-family: $body-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.84px;
        text-transform: uppercase;
      }
      input {
        width: 300px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        font-size: 14px;
        transition: border-color 0.3s ease;
        background-color: transparent;
        box-sizing: border-box;
        color: $white;
        font-size: 18px;
        padding-bottom: 10px;
        @include rmaxwd(991) {
          width: auto;
        }
        &:focus {
          outline: none;
          border-color: $white;
        }
      }
    }
    .desc {
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
      margin-top: 15px;
    }
  }
  .footer-bottom-area {
    margin-top: 40px;
    .footer-bottom-social-media {
      display: flex;
      align-items: center;
      gap: 25px;
      margin-bottom: 25px;
      li {
        a {
          color: $text-color;
          font-family: $body-font;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 29px;
          letter-spacing: 1.4px;
          text-transform: capitalize;
        }
      }
    }
  }
  .footer-copy-right-info {
    display: inline-flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $black;
    font-family: $body-font;
    color: $white;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 207.143% */
    letter-spacing: 1.4px;
    margin-bottom: 24px;
    @include md {
      // padding: 15px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
    @include sm {
      width: 100%;
      padding: 15px 0;
    }

    a {
      color: $black;
    }
  }
}
