.brand-marque-area {
  @include sm {
    padding-top: 52px;
    padding-bottom: 32px;
  }
  .title {
    margin-top: -7px;
  }
  .brand-marque-wrapper {
    .single-img-marque {
      display: flex !important;
      height: 53px;
      align-items: center;
    }
  }
  &.style-2 {
    .brand-marque-wrapper {
      .single-img-marque {
        // display: flex !important;
        height: auto;
        span {
          // display: flex !important;
          font-family: $heading-font;
          font-size: 200px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          text-wrap: nowrap;
          color: $white;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #707070;
          opacity: 0.6;
        }
      }
    }
  }
  &.style-3 {
    .brand-marque-wrapper {
      .single-img-marque {
        // display: flex !important;
        height: auto;
        span {
          // display: flex !important;
          font-family: $heading-font;
          font-size: 125px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          text-wrap: nowrap;
          color: $black;
        }
      }
    }
  }
}
