.brand-marque-area {
  &.style-2 {
    margin-bottom: 0;
    &.brand-marque-area-primary {
      margin-bottom: 0;
    }
    .brand-marque-wrapper {
      .single-img-marque {
        &:nth-child(even) {
          margin-top: 0;
        }
      }
    }
  }
  &.brand-marque-area-primary {
    overflow: hidden;
    position: relative;
    z-index: 11;
  }

  & .brand-marque-wrapper {
    .single-img-marque {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 163px;
      height: 53px;
    }
  }
}
