.brand-marque-area {
  // &.style-2 {
  //   margin-bottom: 0;
  //   &.brand-marque-area-primary {
  //     margin-bottom: 0;
  //   }
  //   .brand-marque-wrapper {
  //     .single-img-marque {
  //       &:nth-child(even) {
  //         margin-top: 0;
  //       }
  //     }
  //   }
  // }
  // &.brand-marque-area-primary {
  //   overflow: hidden;
  //   position: relative;
  //   z-index: 11;
  // }

  & .brand-marque-wrapper {
    .single-img-marque {
      // display: flex !important;
      span {
        // display: flex !important;
        font-family: $heading-font;
        font-size: 200px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-wrap: nowrap;
        color: $white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #707070;
        opacity: 0.6;
      }
    }
  }
}
