.follow-us-area {
  display: flex;
  align-items: center;
  @include rmaxwd(991) {
    gap: 30px;
    flex-direction: column;
  }
}
.image-card-wrapper {
  display: flex;
  gap: 20px;
  .image-card {
    max-width: 340px;
    max-height: 340px;
    margin-bottom: 20px;
  }
}
.follow-card {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-bottom: 20px;

  .title {
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $black;
  }
}
