.process-area {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  @include rmaxwd(991) {
    bottom: 20px;
  }
  .process-card {
    flex: 1;
    padding: 12px 30px;
    position: relative;
    z-index: 3;
    width: 315px;
    max-height: 100px;
    @include transition;
    &:hover,
    &.active {
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(5px);
      @include transition;
    }
    @include sm {
      padding: 5px;
      max-height: 130px;
    }
    @include rmaxwd(1399) {
      width: auto;
    }
    .number {
      color: $white;
      margin-bottom: 0;
    }
    .title {
      padding-top: 10px;
      margin-top: 10px;
      border-top: 1px solid $white;
    }
  }
}
.work-process-area {
  display: flex;
  align-items: center;
  .process-card-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 60px;
    @include rmaxwd(991) {
      flex-direction: column;
      margin-top: 30px;
    }
    .bg-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(28, 26, 29, 0.7);
        mix-blend-mode: luminosity;
      }
      img {
        width: 100%;
        height: 100%;
        @include rmaxwd(991) {
          object-fit: cover;
        }
      }
    }
  }
  .process-card {
    max-width: 573px;
    height: 700px;
    // height: 100%;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    position: relative;
    z-index: 1;
    &:hover,
    &.active {
      background: rgba(28, 26, 29, 0.1);
      backdrop-filter: blur(20px);
      @include transition;
      .icon {
        visibility: visible;
        opacity: 1;
        @include transition;
      }
      .content-wrapper {
        gap: 35px;
        @include transition;

        .content-icon {
          visibility: visible;
          opacity: 1;
          height: auto;
          @include transition;
        }
        .desc {
          visibility: visible;
          opacity: 1;
          height: auto;
          transform: scaleY(1);
          @include transition;
        }
      }
    }
    @include rmaxwd(991) {
      padding: 30px;
    }
    .icon {
      visibility: hidden;
      opacity: 0;
      @include transition;
    }
    .content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0;
      @include transition;
      .content-icon {
        visibility: hidden;
        opacity: 0;
        height: 0;
        @include transition;
      }
      .title {
        @include rmaxwd(991) {
          font-size: 36px;
        }
      }
      .desc {
        color: $white;
        margin-bottom: 0;
        visibility: hidden;
        opacity: 0;
        transform: scaleY(0);
        height: 0;
        @include transition;
      }
    }
  }
}

.our-work-process {
  @include sm {
    padding-top: 30px;
  }
  .section-title {
    @include rmaxwd(991) {
      margin-bottom: 0;
    }
  }
  .list-item-wrapper {
    margin-top: 24px;
    @include rmaxwd(991) {
      margin-top: 0;
    }
  }
  .post-video {
    position: relative;
    overflow: hidden;
    @include rmaxwd(991) {
      margin-top: 30px;
    }
    img {
      // max-width: 920px;
      max-width: 876px;
      max-height: 585px;
      mix-blend-mode: luminosity;
      @include transition;
      @include sm {
        max-width: 350px;
      }
      @include md {
        max-width: 100%;
      }
    }

    .popup-video-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .video-btn {
      a {
        width: 70px;
        height: 70px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        background-color: #ffffff;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: $primary-color;
          font-size: 18px;
        }
        &:hover {
          animation: none;
        }
      }
    }
  }
}
