.services-area {
  @include md {
    padding-bottom: 52px;
  }
  @include lg {
    padding-bottom: 70px;
  }
  .section-title {
    &.style-1 {
      @include sm {
        padding-bottom: 0px;
      }
      @include lg {
        padding-bottom: 40px;
      }
    }
  }
  // .wuc-accordion {
  //   &-main-content {
  //     @include rmaxwd(1399) {
  //       margin-left: 0;
  //     }
  //   }
  //   &-wrapper {
  //     @include rmaxwd(991) {
  //       margin-bottom: 25px;
  //     }
  //     @include lg {
  //       margin-bottom: 30px;
  //     }
  //     @include xl {
  //       margin-bottom: 30px;
  //     }
  //   }
  //   &-title {
  //     h4 {
  //       @include rmaxwd(991) {
  //         margin-bottom: 25px;
  //       }
  //     }
  //   }
  //   &-pra {
  //     display: flex;
  //     gap: 200px;
  //     &.active {
  //       max-height: 216px;
  //     }
  //     p {
  //       max-width: 746px;
  //     }
  //     .image-wrapper {
  //       max-width: 575px;
  //       height: 216px;
  //       position: relative;
  //       border-radius: 26px;
  //       overflow: hidden;
  //       img {
  //         border-radius: 26px;
  //         height: 100%;
  //       }
  //       .square-1 {
  //         position: absolute;
  //         background-color: $black;
  //         bottom: 0;
  //         left: 0;
  //         width: 73px;
  //         height: 100px;
  //         border-top-right-radius: 26px;
  //         &:before,
  //         &:after {
  //           content: '';
  //           position: absolute;
  //           width: 73px;
  //           height: 50px;
  //         }
  //         &:before {
  //           left: -23px;
  //           top: 0;
  //           background: $black;
  //           transform: translateY(-100%) rotate(180deg);
  //           z-index: 2;
  //           clip-path: path(
  //             'M0,0 Q50,0 50,33 L50,350 Q50,400 0,400 L750,400 Q800,400 800,350 L800,50 Q800,0 750,0 Z'
  //           );
  //         }
  //         &:after {
  //           left: -23px;
  //           bottom: 0;
  //           background: $black;
  //           transform: translateX(100%) rotate(180deg);
  //           z-index: 2;
  //           clip-path: path(
  //             'M0,0 Q50,0 50,33 L50,350 Q50,400 0,400 L750,400 Q800,400 800,350 L800,50 Q800,0 750,0 Z'
  //           );
  //         }
  //       }
  //       .square-2 {
  //         position: absolute;
  //         background-color: $black;
  //         top: 0;
  //         right: 0;
  //         width: 73px;
  //         height: 100px;
  //         border-bottom-left-radius: 26px;
  //         &:before,
  //         &:after {
  //           content: '';
  //           position: absolute;
  //           width: 73px;
  //           height: 50px;
  //         }
  //         &:before {
  //           left: -50px;
  //           top: 50px;
  //           background: #141414;
  //           transform: translateY(-100%) rotate(360deg);
  //           z-index: 2;
  //           clip-path: path(
  //             'M0,0 Q50,0 50,33 L50,350 Q50,400 0,400 L750,400 Q800,400 800,350 L800,50 Q800,0 750,0 Z'
  //           );
  //         }
  //         &:after {
  //           left: -50px;
  //           bottom: -50px;
  //           background: $black;
  //           transform: translateX(100%) rotate(0deg);
  //           z-index: 2;
  //           clip-path: path(
  //             'M0,0 Q50,0 50,33 L50,350 Q50,400 0,400 L750,400 Q800,400 800,350 L800,50 Q800,0 750,0 Z'
  //           );
  //         }
  //       }
  //     }
  //   }
  // }
  &.style-2 {
    position: relative;
    .bg-shape {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 563px;
      background-color: $black;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .bg-img {
      position: absolute;
      right: 10px;
      top: 50%;
      max-width: 600px;
      max-height: 600px;
      transform: translateY(-50%);
      @include rmaxwd(1199) {
        display: none;
      }
    }
    .section-title {
      margin-top: 115px;
      @include rmaxwd(991) {
        margin-top: 60px;
        margin-bottom: 0;
      }
      &-main {
        @include rmaxwd(991) {
          color: $black !important;
        }
        h2 {
          @include rmaxwd(991) {
            color: $black !important;
          }
        }
      }
    }
    .inner-wrapper {
      position: relative;
      z-index: 1;
      .list-item-wrapper {
        margin-top: 30px;
        margin-bottom: 30px;
        @include rmaxwd(991) {
          margin-top: 0;
        }
      }
    }
  }
}
.list-item-wrapper {
  ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: $body-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 29px;
      padding-top: 26px;
    }
  }
  &.style-2 {
    ul {
      li {
        padding-bottom: 20px;
        border-bottom: 1px solid $gray;
        font-family: Cormorant;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $black;
        padding-left: 0;
        @include transition;
        svg {
          path {
            fill: $gray;
            @include transition;
          }
        }
        i {
          color: $gray;
          @include transition;
        }
        &:hover {
          border-color: $black;
          padding-left: 60px;
          @include transition;
          svg {
            path {
              fill: $black;
              @include transition;
            }
          }
          i {
            color: $black;
            @include transition;
          }
        }
      }
    }
  }
}

.accordin-card {
  position: relative;
  max-height: 184px;
  padding: 10px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  &:hover {
    .bg-img {
      visibility: visible;
      opacity: 1;
      @include transition;
    }
    .title-wrapper {
      .image-wrapper {
        visibility: hidden;
        opacity: 0;
        @include transition;
      }
      .inner-wrapper {
        .icon {
          left: -430px;
          background-color: $primary-color;
          @include transition;
          svg {
            path {
              stroke: $white;
            }
          }
        }
        .title {
          color: $white;
        }
      }
    }
    .desc {
      color: $white;
    }
    .theme-btn {
      transform: translateX(-30px) rotate(-10deg);
      .theme-btn-icon {
        border-color: $primary-color;
        svg {
          path {
            fill: $primary-color;
          }
        }
      }
    }
  }
  @include rmaxwd(991) {
    flex-direction: column;
    max-height: 100%;
  }
  .bg-img {
    position: absolute;
    visibility: hidden;
    top: 10px;
    left: 0;
    opacity: 0;
    @include transition;
    &:before {
      content: '';
      background-color: rgba(28, 26, 29, 0.8);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // z-index: 1;
    }
  }
  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
    @include sm {
      flex-direction: column;
      gap: 20px;
      align-items: start;
    }
    .image-wrapper {
      max-width: 396px;
    }
    .inner-wrapper {
      position: relative;
      .icon {
        width: 78px;
        height: 78px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px;
        background-color: $white;
        position: absolute;
        left: -100px;
        transform: translate(-17%, -29%);
        @include transition;
        svg {
          path {
            stroke: $text-color;
          }
        }
      }
      .title {
        color: $black;
      }
    }
  }
  .desc {
    max-width: 480px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
  }
  .theme-btn {
    position: relative;
    z-index: 1;
  }
}
